.container {
    max-width: 1200px;
    margin: 0 auto;
    padding-left: 1rem;
    padding-right: 1rem;
}

.discount .card-price {
    display: inline-block;
    width: auto;
    height: 25px;
    background-color: rgb(249, 123, 83);
    border-radius: 3px 4px 4px 3px;
    border-left: 1px solid rgb(249, 123, 83);
    margin-left: 15px;
    position: relative;
    color: white;
    font-weight: 600;
    font-size: 14px;
    padding: 3px 7px;
}

.discount .card-price::before {
    content: "";
    position: absolute;
    display: block;
    left: -12px;
    top: 1px;
    width: 0px;
    height: 0px;
    border-top: 12px solid transparent;
    border-bottom: 12px solid transparent;
    border-right: 12px solid rgb(249, 123, 83);
}

.discount .card-price::after {
    content: "";
    background-color: white;
    border-radius: 50%;
    width: 4px;
    height: 4px;
    display: block;
    position: absolute;
    left: -2px;
    top: 13px;
}